{% extends 'base.html.twig' %}

{% block body %}
    <div class="hero-unit">
        <h1>JWebApp</h1>      
        <p>This is the JWebApp.</p>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
