{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="hero-unit">
            <h1>JWebApp</h1>      
            <p>This is the JWebApp.</p>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>This is the footer.</p>
        </div>
    </footer>
{% endblock %}
